<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>
    <!--
           environment 环境配置，就是数据库的连接信息
            default 表示使用的唯一配置
    -->

    <typeAliases>
        <!--
            可以指定一个类型的全限定别名
            type：自定义类型的全限定名
            alias：别名（短小容易记忆的）
        -->
<!--        <typeAlias type="com.lcx.domain.User" alias="user"></typeAlias>-->
<!--        还有第二种方式
            <package name>
            name 是包名，这个包中的所有类，类名就是别名并且类名不区分大小写
-->
    <package name="com.lcx.domain" />
    </typeAliases>
    <environments default="development">
        <!--
           environment 环境配置，就是数据库的连接信息
            id 表示唯一的可以自定义的名称
        -->
        <environment id="development">
            <!--
                transactionManager mybatis 的事物类型
                    type：JDBC 表示使用 jdbc 中的 Connection 对象的 Commit 和rollback 做事务处理
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource 表示数据源 连接数据库的

            -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>

                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.psw}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        第一种方式-->
<!--        <mapper resource="com/lcx/dao/StudentDao.xml"/>-->
<!--        第二种方式 包名-->
        <package name="com/lcx/dao"/>
    </mappers>
</configuration>
        <!--
    主要定义了数据库的配置信息
    configuration 各种配置信息

-->